In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series
import matplotlib.pyplot as plt
from pylab import rcParams
%pylab inline
rcParams['figure.figsize'] = 16, 8

Populating the interactive namespace from numpy and matplotlib

In [2]:
tr = pd.read_csv('input/train.csv')

In [3]:
te = pd.read_csv('input/test.csv')
te['Expected'] = -1
te['Id'] += 10000000

In [4]:
d = pd.concat([tr, te])
d.index = pd.Index(range(len(d)))

In [5]:
tr = None
te = None

In [6]:
grouped = d.groupby('Id')

In [7]:
d = None

In [8]:
def aggregate_groups(group):
    null_ratio = (1.0 * group.isnull().sum().sum()) / (len(group) * (len(group.columns) - 2))
    vals = [
        group['Id'].min(),
        group['Expected'].mean(),
        len(group),
        null_ratio
    ]
    cols = [
        'Id',
        'Expected',
        'cnt',
        'null_ratio'
    ]
    for c in group.columns:
        if c not in ['Expected', 'Id']:
            vals.append(group[c].mean())
            cols.append(c + '_mean')
            vals.append(group[c].min())
            cols.append(c + '_min')
            vals.append(group[c].max())
            cols.append(c + '_max')
            vals.append(group[c].std())
            cols.append(c + '_std')
    id = group['Id'].min()
    if id % 10000 == 0:
        print id
    return Series(vals, index=cols)

In [9]:
g = grouped.apply(aggregate_groups)

10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000
270000
280000
290000
300000
310000
320000
330000
340000
350000
360000
370000
380000
390000
400000
410000
420000
430000
440000
450000
460000
470000
480000
490000
500000
510000
520000
530000
540000
550000
560000
570000
580000
590000
600000
610000
620000
630000
640000
650000
660000
670000
680000
690000
700000
710000
720000
730000
740000
750000
760000
770000
780000
790000
800000
810000
820000
830000
840000
850000
860000
870000
880000
890000
900000
910000
920000
930000
940000
950000
960000
970000
980000
990000
1000000
1010000
1020000
1030000
1040000
1050000
1060000
1070000
1080000
1090000
1100000
1110000
1120000
1130000
1140000
1150000
1160000
1170000
1180000
10010000
10020000
10030000
10040000
10050000
10060000
10070000
10080000
10090000
10100000
10110000
10120000
10130000
10140000
10150000
10160000
10170000
10180000
10190000
10200000
10210000
10220000
10230000
10240000
10250000
10260000
10270000
10280000
10290000
10300000
10310000
10320000
10330000
10340000
10350000
10360000
10370000
10380000
10390000
10400000
10410000
10420000
10430000
10440000
10450000
10460000
10470000
10480000
10490000
10500000
10510000
10520000
10530000
10540000
10550000
10560000
10570000
10580000
10590000
10600000
10610000
10620000
10630000
10640000
10650000
10660000
10670000
10680000
10690000
10700000
10710000

In [10]:
grouped = None

In [11]:
g.to_csv('tmp/grouped.csv', index=False)